@import "partials/base"
@import "partials/404"
@import "partials/dashboard"
@import "partials/header"
@import "partials/sign-in-up"

body
	background-color: $color-white
	color: $color-primary
	font-family: 'Luciole', sans-serif

a
	cursor: pointer

@import "partials/header"

.container

	& > main
		padding-left: var(--width-header)

		#errors
			position: fixed
			top: 0
			left: var(--width-header)
			right: 0
			padding: 1rem
			font-size: 1.3rem
			text-align: center
			background-color: $color-secondary
			color: var(--color-white)
			animation: fade-in 1s ease-in-out, fade-out 1s 9s ease-in-out
			opacity: 0
			visibility: hidden
		#errors:not(:empty)
			opacity: 1
			visibility: visible


@keyframes fade-in
	from
		opacity: 0
		visibility: hidden
		transform: translateY(-100%)


@keyframes fade-out
	to
		opacity: 0
		visibility: hidden
		transform: translateY(-100%)
