.container > header
	position: fixed
	left: 0
	top: 0
	bottom: 0
	width: var(--width-header)
	z-index: 10
	background-color: $color-primary
	overflow: hidden

	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center

	padding: 1rem 0

	div.header__title
		div.header__logo
			img
				filter: invert(1)


	div.header__footer
		.header__footer__logout
			background-color: $color-secondary
			padding: 0.2rem
			text-align: center
			line-height: calc(var(--width-header) * 0.7)

			transition: background-color 200ms ease-in-out, font-size 200ms ease-in-out
			width: calc(var(--width-header) * 0.7)
			height: calc(var(--width-header) * 0.7)
			border-radius: 50%
			//display: flex
			//justify-content: center
			//align-items: center
			&:hover
				cursor: pointer
				font-size: 1.2rem
				background-color: $color-pink-pastel


