{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/index.css">

	<script src="/static/js/htmx/htmx.min.js" defer></script>
	<script src="/static/js/htmx/remove-content.js" defer></script>

	<title>InfiMetrics - {{.Title}}</title>
</head>
<body hx-ext="remove-content">
<div class="container">
	<header>
		<div class="header__title">
			<div class="header__logo">
				<a href="/">
					<img src="/static/icons/infiniti.png" alt="">
				</a>
			</div>
			{{ if .IsLoggedIn }}
			<hr>
			<div class="header__nav">
				<nav>
					<ul>
						<li><a href="/apps"><img src="/static/icons/app.png" alt="app"></a></li>
					</ul>
				</nav>
			</div>
			{{ end }}
		</div>
		{{ if .IsLoggedIn }}
		<div class="header__main">
		</div>
		<div class="header__footer">
			<div class="header__footer__nav">
				<ul>
					<li><a href="/settings"><img src="/static/icons/settings.png" alt="settings"></a></li>
				</ul>
			</div>
			<div class="header__footer__logout" hx-get="/logout" hx-confirm="Are you sure you wish to delete your account?">
				S
			</div>
		</div>
		{{ end }}
	</header>

	<main>
		<div id="errors"></div>
		{{ template "content" . }}
	</main>
</div>

<script src="/static/js/main.js" type="module"></script>
</body>
</html>
{{end}}
