{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/index.css">
	{{ range .CSS }}
	<link rel="stylesheet" href="/static/css/{{ . }}.css">
	{{ end }}

	<script src="/static/js/htmx.min.js" defer></script>
	<script src="/static/js/remove-content.js" defer></script>

	<title>{{.Title}}</title>
</head>
<body hx-ext="remove-content">
<div class="container">
	<header>
		<div class="header__title">
			<p>Welcome</p>
			{{ if .IsLoggedIn }}
			<p id="cookie-username" hx-get="/get-cookies/username" hx-swap="innerHTML" hx-trigger="revealed"></p>
			{{ end }}
		</div>
		{{ if .IsLoggedIn }}
		<div class="header__main">
		</div>
		<div class="header__footer">
			<div class="header__footer__logout" hx-get="/logout" hx-confirm="Are you sure you wish to delete your account?">
				<img src="/static/icons/logout.svg" alt="logout" title="logout">
			</div>
		</div>
		{{ end }}
	</header>

	<main>
		<div id="errors" remove-content="10s"></div>
		{{ template "content" . }}
	</main>
</div>

<script src="/static/js/sign-in-up.js"></script>
{{ range .JS }}
<script src="/static/js/{{.}}.js"></script>
{{ end }}
<script src="/static/js/main.js"></script>
</body>
</html>
{{end}}
